.commit-hash {
  display: inline-block;
  max-width: 90px;
  color: var(--color-text-secondary);
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.commit-hash:hover {
  cursor: pointer;
  text-decoration: underline;
}

.commit-hash_expanded {
  max-width: unset;
}

.commit-hash_short {
  text-overflow: unset;
}

.commit-hash_short:hover {
  cursor: default;
  text-decoration: none;
}
