.layout {
  height: 100vh;
  display: grid;
  grid-template: 48px auto 32px / 100px auto 100px;
}

.layout .header,
.layout .footer {
  grid-column: 1 / -1;
}

.layout__title {
  color: var(--color-text-secondary);
}

.layout__controls {
  display: flex;
}

.layout__controls > * {
  margin-right: 8px;
}

.layout__controls > :last-child {
  margin-right: 0;
}

.layout__content {
  grid-column: 2;
}

@media screen and (max-width: 767px) {
  .layout {
    grid-template-columns: 50px auto 50px;
  }
}

@media screen and (max-width: 480px) {
  .layout {
    grid-template: 48px auto 68px / 16px auto 16px;
  }

  .header .action-button__text {
    display: none;
  }
}
