.settings-config {
  width: 264px;
  text-align: center;
}

.settings-config__logo {
  width: 124px;
  height: 124px;
  margin: auto;
  background: url('./img/settingsLogo.svg');
}

.settings-config__description {
  margin: 32px 0 24px;
  font-size: 13px;
}
