.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 100px;
  height: 100%;
  box-sizing: border-box;
  background-color: var(--color-bg-base-dark);
}

.footer__links {
  display: flex;
}

.footer__links > * {
  margin-left: 12px;
}

.footer__links > :first-child {
  margin-left: 0;
}

@media screen and (max-width: 767px) {
  .footer {
    padding: 0 50px;
  }
}

@media screen and (max-width: 480px) {
  .footer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 12px 16px;
  }

  .footer__links {
    margin-bottom: 8px;
  }
}
